*{ 
margin: 0;
}
h1{
	font-size: 80px;
      width: 50%;
      margin: 5em auto 0;
      padding: 2em;
      background: red;
      border: 10px solid black;
      text-align: center;
      font: bold 1em/1.5 sans-serif;



input,
label {
    margin: .4rem 0;
}
body {
margin: 5px;
background color: red;
}
.honey {
	width: 1px;
  display: block;
  margin: 0;  	
}
